
.Title-Page {
    display: inline-block;
    margin-left: 25px;
}
body{
    background-image:  url("imgs/Bgif.gif");
    background-size:auto;
    background-repeat: repeat;
    background-position: center;
     color: aliceblue;
     font-family:cursive;
    background-origin: content-box;
    user-select: none;

}
.loading{
    position: fixed;
    background-color: #1c273a;
    width: 100%;
    height: 100%;
}.load img {
display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-left: 36%;
    margin-top: 15%;
}.sizeP img{
    margin-top: 50%;
    margin-left: 5px;
}
.Head{
    position: fixed;
    background-image: url("imgs/Bar.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    width: 100%;

}.List-Page{
    position: fixed;
    right: 30px;
    top: 15px;


}.List-Page * {
    display: block;
    margin: 5px;
    padding: 0;
    width: 55px;
    height: 10px;
    background-color: white;
    transition: .5s;
}
.hide {
    display: none;
}
.keyframespan1{
    position: fixed;
    transform: rotate(-45deg);
}
.keyframespan2{
    position: fixed;
    transform: rotate(45deg);

}.control {
    right: 30px;
    top: 30px;
}


.lista {
    position: fixed;
    width: 250px;
    background-color: #023752cf;
    right: 25px;
}#li{
    text-decoration: none;
  }
.pagelis {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:monospace;
    padding-bottom: 10px;
    margin: 0;
    padding-top: 15px;
    transition: .2s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.784);
}
.pagelis:hover{
    background-color: #13668a;
    color: #012030;
    padding: 15px;
}#abt {border: none;}


.list-on {
    animation: listani 1 forwards 1s;
}
.prg-on{
    opacity: 0;
    animation: 0s eles 1 forwards 0.2s;
}
.fbs-on{
    opacity: 0;
    animation: .5s eles 1 forwards 0.2s;
}
.abt-on {
    opacity: 0;
    animation: 1s eles 1 forwards 0.2s;
}


.list-off {
    animation: listanioff 1 forwards 1s ;
}
.prg-off{
    opacity: 0;
    animation: 1s elesoff 1 forwards 0.05s ;
}
.fbs-off{
    opacity: 0;
    animation: .5s elesoff 1 forwards 0.05s ;
}
.abt-off {
    opacity: 0;
    animation: 0s elesoff 1 forwards 0.05s ;
}



@keyframes listani{
    from {
        height: 0px
    }
    to {
        height: 170px;
        display: hide;
    }
}
@keyframes eles{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: hide;
    }
}



@keyframes listanioff{
    from {
        height: 170px
    }
    to {
        height: 0px
    }
}
@keyframes elesoff{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}





.color-back {
    background-color: #012030cf;
    border-top: 10px #13668acc solid;
}
.CV {
    text-align: center;
    animation-name: opensite-cv;
    border-radius: 25px;
    opacity: 0;
    animation: opensite-cv 1s 1 forwards 0.2s;
    left: 50px;
    position: fixed;
    width: 250px;
    top: 150px;
    padding: 25px 50px;
}.CV img {

    width: 100px;
    border-radius: 25px;
}.CV h2 {
    margin-bottom: 0 ;
}.CV p {
    margin-top: 2px;
}.CVp {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: opensite-cv;
    border-radius: 25px;
    opacity: 0;
    animation: opensite-cv 1s 1 forwards 0.2s;
    left: 25px;
    position: fixed;
    width: 250px;
    top: 115px;
    padding: 25px 25px;
}.CVp img {

    width: 60px;
    border-radius: 25px;
}.CVp h2 {
    margin-bottom: 0 ;
}.CVp p {
    margin-top: 2px;
}
.Scm{
    position: fixed;
    border-radius: 25px;
    opacity: 0;
    animation: opensite-scm 1s 1 forwards 0.2s;
    top: 500px;
    left: 50px;
    width: 350px;
    height: 150px;
    text-align: center;
}.Scmp{
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border-radius: 25px;
    opacity: 0;
    animation: opensite-scm 1s 1 forwards 0.2s;
    top: 425px;
    left: 25px;
    width: 300px;
    height: 150px;
    text-align: center;
}
.Img-Scm {
    width: 50px;
    margin: 5px;
}
.img {
    width:50px
}
.Img-Scm:hover .Scm {
    padding-top: 100px;
    background-color: black;
}
.Post {
    position: fixed;
    display: inline-block;
    background-color:#65d4fc96;
    border-radius: 25px;
    color: white;
    margin: 25px;
    width: 250px;
    height: 250px;
    text-align: center;
    transition: .2s;

}.Post h1 {
    margin-top: 80%;
}
.Post:hover {
    background-color:rgba(142, 213, 191, 0.901);
    border: 5px white solid;
    margin: 10px;
}
.Con {
    position: fixed;
    border-radius: 25px;
    opacity: 0;
    animation: opensite-con 1s 1 forwards 0.2s;
    left: 450px;
    top: 150px;
    width: 69%;
    height: 75%;
}.Con h3 {
    margin-left: 25px;
}



.c1lan {
    background-image: url("../../public/projects/25956-200.png");
    background-position: center;
    background-clip: content-box;

}
.c2lan {
    background-image: url("../../public/projects/download.png");
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    left: 750px;
}.c3lan {
    background-image: url("../../public/projects/downloa.png");
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    left: 1050px;

}








.footer {
    position: fixed;
    padding: 15px;
    width: 250px;
    text-align: center;
   color:white;
    background-color:#13678A;
    border-radius: 25px;
    opacity: 0;
    animation: opensite-foo 1s 1 forwards 0.2s;
    left: 70px;
    bottom: 50px;
    transition: .1s;
}.footer:hover {
    color: beige;
    background-color:rgb(55, 79, 71);
}.footerp {
    width: 210px;
    position: fixed;
    padding: 15px;
    left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 50px;
}.list {
    background-color: aliceblue;
    width: 50px;
}.feedback{
    position: fixed;
    left: 90px;
    bottom: 130px;
    padding: 3px 25px;
    background-color: rgb(55, 79, 71);
    border-radius: 50px;
}.feedbackp{
    position: fixed;
    left: 80px;
    bottom: 130px;
    padding: 15px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: rgb(55, 79, 71);
    border-radius: 50px;
}.text {
    height: 25px;
    border: none;
    width: 150px;
    margin-right: 5px;
    padding-left: 15px;
    font-size: 15px;
    padding-right: 5px;
    font-family: cursive;
}#sub {
    border: none;
    background-color: rgb(55, 79, 71);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-left: white solid 2px;
    border-radius: 0 15px 15px 0;
    transition: .2s;
}#sub:hover {
    background-color:cadetblue;
    color: black;
}
.pop-up {
    opacity: 0;
    animation: pop-up .5s 1 forwards 0.2s;
}.pop-down {
    opacity: 1;
    animation: pop-down .5s 1 forwards 0.2s;
}
@keyframes opensite-cv{
    0%{
        opacity: 0;
        left: 100px;
    }100%{
        opacity: 1;
        left: 50px;
    }
}@keyframes opensite-scm{
    0%{
        opacity: 0;
        left: 100px;
    }100%{
        opacity: 1;
        left: 50px;
    }
}@keyframes opensite-foo{
    0%{
        opacity: 0;
        left: 135px;
    }100%{
        opacity: 1;
        left: 85px;
    }
}@keyframes opensite-con{
    0%{
        opacity: 0;
        left: 500px;
    }100%{
        opacity: 1;
        left: 450px;
    }
}

@keyframes pop-up{
    from {
        opacity: 0;
        bottom: 50px;
    } to {
        opacity: 1;
        bottom: 130px;
    }
}
@keyframes pop-down{
    from {
        opacity: 1;
        bottom: 130px;
    } to {
        opacity: 0;
        bottom: 50px;
        display: hide;
    }
}@keyframes pop-up{
    from {
        opacity: 0;
        bottom: 50px;
    } to {
        opacity: 1;
        bottom: 130px;
    }
}
@keyframes pou{
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes pof{
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
.lis-off {
    animation: pou .5s 1 0.2s;
}
.lis-on {
    animation: pof .5s 1 0.2s;
}