.feeds {
    display: flex;
    position: fixed;
    background-color: #13668aeb;
    padding: 50px 25px;
    border-radius: 25px;
    left: 32%;
    top: 30%;
    width: auto;
    box-shadow:1px 1px 10px 1px blueviolet;

}
.fsp {
    left: 0%;
}
.cous{
    width: 250px;
    height: 250px;
    background-color: rgb(29, 38, 35);
    text-align: center;



}.cous *{
    border-bottom: white solid 2px;
}.test {
    width: 500px;
    background-color: blueviolet;
    height: 5000px;
}.feedone{
    background-color: #012030;
    border-bottom: 2px #13668acc solid;
    margin: 0;
    padding: 20px;
    text-align: center;
}::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #03161fcf;
}::-webkit-scrollbar-thumb{
    background-color: #438aa8cc;
}
.contFeedpara{
    margin-right: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}.contFeedpara .pp {
    margin-top: 25px;
}.contFeedpara pre {
    margin-bottom: 0;
}.contFeedpara h1 {
    margin-top: 5px;
}
.ps {
    margin-top: 0;
}.pp {
    margin-bottom: 5px;
}

.FormAbout{
    position: fixed;
    background-color: #012030;
    left: 500px;
    top: 150px;
    height: 0;
    padding: 20px 50px;
    border-radius: 25px;
    border: #438aa8cc solid 5px;
    opacity: 0;
    animation: FormAbout 1s 1 forwards 0.2s;



}.FormAbout *{
    opacity: 0;
    animation: opensite-cv 1s 1 forwards 0.2s;
}
.FormAbout #prof {
    display: inline-block;
    width: 150px;
    border-radius: 100px;
    margin-right: 25px;
}.FormAbout .git {
    width: 40px;
    border:#438aa8cc 2px solid;

}.FormAbout div {
    display: inline-block;
}.FormAbout div a {
    margin-left: 25px;
    margin-right: 25px;
}
.PrgLang {
    position: fixed;
    background-color: #012030;
    padding: 20px 50px;
    border-radius: 25px;
    border: #438aa8cc solid 5px;
    text-align: center;
    left: 550px;
    top: 400px;
    height: 0;
    opacity: 0;
    animation: FormAbout 1s 1 forwards 1s;
}.PrgLang *{
    opacity: 0;
    animation: opensite-cv 1s 1 forwards 1s;
}
.PrgLang button {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 25px;
    font-family:monospace;
}.PrgLang button:hover {
    background-color:aqua ;
}
.inline {
    display: inline-block;
    margin-bottom: 15px;
}
@keyframes FormAbout{
    0%{
        opacity: 0;
        height: 0;
    }100%{
        opacity: 1;
        height: 160px;
    }
}